@import '../../styles/colors.scss';

.navbar {
  padding: 40px 0;
  background-color: $bgSecondary;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
      ul {
        display: flex;
        gap: 30px;

        li {
          list-style: none;

          button {
            font-size: 18px;
            font-weight: 500;
            width: 100%;

            &:hover, &.active {
              font-weight: 700;
              color: $clrPrimary;
            }
          }
        }
      }
    }

    .hamburguer {
      display: none;

      i {
        color: #222;

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 20px !important;
  }

  .brand {
    button {
      img {
        width: 70%;
      }
    }
  }

  .links {
    ul {
      li {
        button {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .links {
    position: absolute;
    left: -130%;
  }

  .brand {
    z-index: 9999;
  }

  .links.active {
    left: 0;

    ul {
      position: relative;
      flex-direction: column;
      margin-top: 400px;
      background: #fff;
      justify-content: center;
      align-items: center;
      padding: 80px;
      height: 100%;
      width: 100vw;
    }
  }

  .hamburguer {
    display: block !important;
    z-index: 9999;

    &.active {
      i {
        &:nth-child(1) {
          display: none !important;
        }
  
        &:nth-child(2) {
          display: block !important;
        }
      }
    }
    
    i {
      font-size: 35px;
    }
  }
}

@media (max-width: 576px) {
  .brand {
    button {
      .logo {
        width: 200px;
      }
    }
  }
}